body {
    cursor: default;
}

a {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

ul {
    list-style: none;
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.container {
    width: 1720px;
    margin: auto;
}

header {
    margin-top: 46px;
}

.nav__title {
    margin-left: 13px;
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}

.nav__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__list {
    min-width: 652px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    color: #242323;
}

.button {
    width: 134px;
    height: 62px;
    border-radius: 7px;
    background: #000;
    color: #FEFEFE;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore {
    margin-top: 56px;
}

.explore__container {
    min-height: 852px;
}

.explore__row {
    padding: 0px 107px;
    min-height: 852px;
    margin: auto;
    background-image: url(../img/Rectangle\ 2.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.explore__img {
    margin-top: 64px;
}

.explore__block {
    padding-top: 77px;
}


.explore__title {
    max-width: 474px;
    color: #000;
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 120px;
    z-index: 9999;
    position: relative;
}

.explore__title::before {
    content: " ";
    width: 465px;
    height: 112px;
    transform: rotate(-2deg);
    background: #FFF;
    z-index: -1;
    top: 0px;
    left: -38px;
    position: absolute;
}

.explore__title::after {
    content: " ";
    width: 495px;
    height: 117px;
    transform: rotate(-2deg);
    background: #EBD96B;
    z-index: -1;
    bottom: 130px;
    left: -26px;
    position: absolute;
}

.explore__text {
    margin-top: 40px;
    color: #191818;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;
}

.explore__btn {
    width: 221px;
    height: 82px;
    margin-top: 32px;
    margin-left: 230px;
    position: relative;
}

.explore__btn::before {
    content: url(../img/Vector\ 9.svg);
    top: 28px;
    right: 116%;
    position: absolute;
}

.brands {
    margin-top: 63px;
    background: #EBD96B;
}

.brands__container {
    min-height: 186px;
}

.brands__list {
    margin: auto;
    padding-top: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrivals {
    margin-top: 69px;
}

h2 {
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 118px;
}

.arrivals__title {
    position: relative;
}

.arrivals__title::after {
    content: url(../img/Vector\ 8.svg);
    z-index: -1;
    position: absolute;
    top: 11%;
    right: 78%;
}

.arrivals__title {
    margin: auto;
}

.arrivals__block {
    display: flex;
    align-items: center;
}

.arrivals__item {
    width: 33%;
    margin-right: 90px;
}

.arrivals__item:nth-child(3n) {
    margin: 40px 0;
}

.arrivals__item img {
    width: 100%;
}

.arrivals__text {
    margin-top: 28px;
    color: #191919;
    font-size: 32px;
    font-weight: 500;
}

.arrivals__text--small {
    margin-top: 7px;
    color: #7F7F7F;
    font-size: 24px;
    font-style: normal;
}

.arrivals__shell {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale {
    margin-top: 190px;
    min-height: 968px;
    background: linear-gradient(1deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}

.sale__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sale__info {
    margin: right auto;
    max-width: 644px;
    padding-top: 140px;
}

.sale__title {
    color: #000;
    font-family: Poppins;
    font-size: 112px;
    font-style: normal;
    font-weight: 900;
    line-height: 138px;
    position: relative;
    z-index: 999;
}

.sale__title::after {
    content: " ";
    position: absolute;
    background-color: #fff;
    width: 541px;
    height: 130px;
    top: 0;
    left: -20px;
    z-index: -1;
    transform: rotate(-2.004deg);
}

.sale__text {
    color: #231300;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin-top: 33px;
}

.sale__text--weight700 {
    margin-top: 40px;
    font-weight: 700;
}

.sale__text--weight400 {
    margin-top: 0px;
    font-weight: 400;
}

.sale__btn {
    margin: left auto;
    margin-top: 50px;
    width: 266px;
    height: 95px;
    border-radius: 8px;
}

.sale__img {
    width: 991px;
    position: absolute;
    top: -3px;
    left: 0px;
}

.favorite {
    margin-top: 190px;
}

.favorite__block {
    display: flex;
    align-items: center;
}

.favorite__block .arrivals__item {
    width: 50%;
    margin-right: 45px;
}

.favorite__block .arrivals__item:nth-child(2n) {
    margin: 0;
}

.favorite__block .arrivals__item img {
    max-height: 575px;
    object-fit: contain;
}

.favorite__title {
    position: relative;
}

.favorite__title::after {
    content: url(../img/Vector\ 9.svg);
    z-index: -1;
    position: absolute;
    left: 16%;
    top: 22px;
}

.download {
    margin-top: 220px;
}

.download__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download__info {
    max-width: 494px;
}

.download__title {
    line-height: 150%;
    padding: 0px;
}

.download__text {
    margin-top: 41px;
    color: #7C7C7C;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}

.download__apps {
    margin-top: 65px;
}

.download__apps img {
    cursor: pointer;
}

.join {
    margin-top: 207px;
    background: #E5C643;
    min-height: 623px;
}

.join__block {
    margin: auto;
    padding-top: 141px;
    max-width: 1010px;
}

.join__title {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
}

.join__text {
    margin-top: 37px;
    color: #FFFCF8;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.join__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 554px;
    min-height: 67px;
    border-radius: 10px;
    background: #FFF;
    margin: auto;
    margin-top: 49px;
}

.join__input {
    border: none;
    color: #767676;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    min-width: 380px;
    min-height: 60px;
}

.join__btn {
    width: 161px;
    height: 67px;
    border-radius: 8px;
}

.footer {
    min-height: 545px;
    background: #000;
    color: #8E8E8E;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.footer__block {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__title {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
}

.footer__text {
    padding: 32px 0 32px 0;
}

.footer__meta img {
    padding-right: 14px;
    cursor: pointer;
}

.footer__lists {
    min-width: 890px;
    max-height: 273px;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.footer__item {
    padding-bottom: 32px;
}

.footer__item:last-child {
    padding-bottom: 0px;
}

.footer__item:hover {
    color: #D9D9D9;
    transition: 0.2s ease;
}

@media (max-width: 1720px) {

    .container {
        max-width: 1720px;
    }

    .arrivals__block {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .arrivals__item {
        margin: 0 20px;
        margin-top: 40px;
    }

    h2 {
        padding-left: 40px;
    }

    h2::after {
        left: 235px;
    }

    .favorite__block .arrivals__item {
        margin: 0;
    }

    .favorite__title::after {
        left: 18%;
    }

    .nav__logo {
        padding-left: 20px;
    }

    .nav__menu {
        padding-right: 20px;
    }

    .footer__block {
        justify-content: space-around;
    }
}

@media (max-width: 1700px) {

    .container {
        max-width: 1700px;
    }

    .arrivals__block {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .arrivals__item {
        margin: 0 20px;
        margin-top: 40px;
    }

    h2 {
        padding-left: 40px;
    }

    h2::after {
        left: 235px;
    }

    .favorite__block .arrivals__item {
        margin: 0;
    }

    .favorite__title::after {
        left: 18%;
    }

    .nav__logo {
        padding-left: 20px;
    }

    .nav__menu {
        padding-right: 20px;
    }

    .footer__block {
        justify-content: space-around;
    }

    .favorite__block {
        flex-direction: column;
    }

    .favorite__block .arrivals__item {
        margin: 40px 0;
    }
}

@media (max-width: 1690px) {

    .container {
        max-width: 100%;
    }

    .explore__row {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .explore__shell {
        text-align: left;
        margin-right: 800px;
    }

    .explore__img {
        top: -14px;
        right: 60px;
        position: absolute;
    }

    .nav__logo {
        padding-left: 20px;
    }

    .nav__menu {
        padding-right: 20px;
    }

    .footer__block {
        justify-content: space-around;
    }

    .favorite__block {
        flex-direction: column;
    }

    .favorite__block .arrivals__item {
        margin: 40px 0;
    }

    .sale {
        min-height: 881px;
    }

    .sale__img {
        width: 900px;
    }

    .sale__info {
        margin-right: 100px;
    }
}

@media (max-width: 1500px) {

    .container {
        max-width: 100%;
    }
}

@media (max-width: 1400px) {

    .sale__img {
        z-index: 99;
        filter: blur(5%);
    }

    .sale__info {
        z-index: 9999;
    }

    .footer__block {
        padding: 120px 40px;
    }
}

@media (max-width: 1300px) {

    .explore__img {
        z-index: 99;
        filter: blur(5%);
    }

    .text--white {
        color: #FFF;
    }

    .explore__shell {
        z-index: 9999;
        margin-right: -550px;
    }

    .brands__item:nth-child(4) {
        margin-bottom: 20px;
    }

    .brands__item:last-child {
        margin-bottom: -15px;
    }

    .favorite__title::after {
        left: 29%;
    }

    .sale__info {
        margin: auto;
        text-align: center;
    }

    .sale__title::after {
        left: 40px
    }

    .sale__btn {
        margin: 50px auto;
    }

    .download__block {
        flex-wrap: wrap-reverse;
    }

    .download__info {
        margin: auto;
        text-align: center;
    }

    .download__img {
        margin-right: 46px;
    }

    .join__block {
        text-align: center;
    }

    .footer__block {
        flex-wrap: wrap-reverse;
        padding-bottom: 0px;
    }

    .footer__meta {
        margin: 100px 0px;
        margin-left: -200px;
    }
}

@media (max-width: 1070px) {

    .nav {
        flex-direction: column;
    }

    .nav__logo {
        padding: 0;
    }

    .nav__menu {
        padding: 0;
        margin-top: 20px;
        flex-direction: column;
    }

    .nav__btn {
        margin-top: 20px;
    }

    .explore__block {
        padding: 0;
    }

    .sale {
        margin-top: 50px;
    }

    .download {
        margin-top: 50px;
    }

    .join {
        margin-top: 50px;
    }
}

@media (max-width: 1000px) {
    .brands__item img {
        width: 70%;
    }

    .brands__container {
        min-height: 98px;
    }

    .brands__list {
        padding-top: 16px;
    }

    .footer__lists {
        min-width: 800px;
    }
}

@media (max-width: 880px) {

    .explore__img {
        width: 600px;
        top: 250px;
        left: 115px;
    }

    .explore__shell {
        margin: auto;
        align-items: center;
        text-align: center;
    }

    .explore__title {
        max-width: 578px;
    }

    .explore__title::before {
        left: 54px;
    }

    .explore__title::after {
        left: 62px;
    }

    .favorite {
        margin-top: 85px;
    }

    .sale__img {
        width: 500px;
        top: 390px;
        left: -180px;
    }

    .sale__info {
        padding-top: 70px;
    }

    .footer__lists {
        min-width: 600px;
    }

    .footer__meta {
        align-items: center;
        text-align: center;
        margin-left: -10px;
    }

    .join__block {
        padding-top: 70px;
    }

    h2 {
        max-width: 505px;
        margin: auto;
        padding-bottom: 30px;
    }

    .arrivals__title::after {
        top: 20px;
    }

    .favorite__title::after {
        left: 59%;
        top: 18px;
    }

}

@media (max-width: 710px) {

    .explore__img {
        top: 256px;
        left: 44px;
    }

    .text--white {
        color: #000;
    }

    .explore__title::after {
        left: -4px;
    }

    .explore__title::before {
        left: 4px;
    }

    .brands__item:nth-child(4) {
        margin-bottom: 10px;
    }

    .brands__item:last-child {
        margin-bottom: -7px;
    }

    .brands__list {
        padding-top: 28px;
    }

    .join__text {
        font-size: 28px;
    }
}

@media (max-width: 650px) {

    .nav__list {
        min-width: 450px;
    }

    .explore__img {
        display: none;
    }

    .sale__title {
        font-size: 80px;
    }

    .sale__title::after {
        width: 400px;
        left: 69px;
    }

    .sale__text {
        font-size: 28px;
    }

    .download__img {
        margin-right: 22px;
    }

    .download__img img {
        width: 450px;
    }

    .join__form {
        max-width: 450px;
    }

    .footer__lists {
        min-width: 450px;
        max-height: 100%;
    }

    .footer__list {
        padding: 5px 10px;
    }
}

@media (max-width: 500px) {

    .explore__title {
        font-size: 80px;
    }

    .explore__title::after, .explore__title::before {
        width: 350px;
    }

    .explore__title::after {
        left: 49px;
    }

    .explore__title::before {
        left: 43px;
    }
}

@media (max-width: 480px) {

    .nav__list {
        min-width: 300px;
    }

    .nav__link {
        font-size: 12px;
    }

    .explore__container {
        min-height: 100%;
    }

    .explore__row {
        min-height: 100%;
    }

    .explore__title {
        margin-top: 20px;
        font-size: 40px;
        max-width: 300px;
        line-height: 70px;
    }

    .explore__btn {
        margin: 20px auto;
    }

    .explore__btn::before {
        display: none;
    }

    .explore__title::after, .explore__title::before {
        width: 200px;
        height: 60px;
    }

    .explore__title::after {
        left: 16px;
        bottom: 77px;
    }

    .explore__title::before {
        left: 8px;
    }

    .explore__text {
        font-size: 20px;
        letter-spacing: 0;
    }

    .arrivals__text {
        font-size: 18px;
    }
    
    .arrivals__text--small {
        font-size: 12px;
    }

    h2 {
        max-width: 250px;
        text-align: center;
        padding: 0;
        font-size: 24px;
    }

    .arrivals__title::after {
        display: none;
    }

    .brands__container {
        min-height: 60px;
    }

    .brands__list {
        padding-top: 20px;
    }

    .brands__item:nth-child(4) {
        margin-bottom: 4px;
    }

    .brands__item:last-child {
        margin-bottom: 0px;
    }

    .favorite__title::after {
        display: none;
    }

    .sale {
        min-height: 100%;
    }

    .sale__title {
        font-size: 38px;
        line-height: 70px;
    }

    .sale__title::after {
        width: 280px;
        left: 20px;
    }

    .sale__img {
        display: none;
    }

    .sale__text {
        font-size: 14px;
    }

    .sale__btn {
        width: 200px;
        height: 70px;
    }

    .join__title {
        font-size: 32px;
    }

    .join__text {
        font-size: 20px;
    }

    .join__form {
        max-width: 280px;
    }

    .join__input {
        min-width: 200px;  
        font-size: 18px; 
    }

    .join__btn {
        width: 80px;
        height: 40px;
        font-size: 20px;
    }

    .download__img img {
        width: 280px;
    }

    .footer__lists {
        min-width: 280px;
        font-size: 10px;
    }

    .footer__item {
        padding-bottom: 10px;
    }

    .footer__block {
        padding-top: 40px;
    }

    .footer__title {
        font-size: 30px;
    }

    .footer__text {
        font-size: 16px;
    }

    .footer__meta img {
        padding: 0;
    }
    
    .footer__meta {
        margin-top: 40px;
    }

    .arrivals {
        margin-top: 40px;
    }

    .favorite {
        margin-top: 40px;
    }

    .brands {
        margin-top: 40px;
    }
}